body{
	background-image: url(Image1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
button{
	background-color:red;
	position: relative;
	left: 600px;
	top: 300px;
	color:white;
}
b{
	position: relative;
	left:300px;
	top: 300px;
	color: white;
}